name: CI/CD Pipeline - Flask (Python)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install pytest flake8 requests

      - name: Run unit tests
        run: |
          export PYTHONPATH="${PYTHONPATH}:$(pwd)"
          pytest tests/unit --maxfail=1 --disable-warnings -q

      - name: Lint (PEP8)
        run: flake8 . --max-line-length=120

  docker-build-and-test:
    needs: test-and-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Verify files before Docker build
        run: |
          ls -l
          cat requirements-dev.txt || echo "requirements-dev.txt not found!"

      - name: Build Docker image
        run: docker build -t ci-cd-flask:${{ github.sha }} .

      - name: Run container for regression tests
        run: |
          docker run -d --name cicd_test -p 8000:8000 ci-cd-flask:${{ github.sha }}
          sleep 5
          docker exec cicd_test pytest tests/regression -q
          docker stop cicd_test && docker rm cicd_test

  sonar:
    needs: docker-build-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2.1.0
        with:
          organization: vuboh-benoit                   # ton organisation SonarCloud
          projectKey: sqp_96da940952f515dbb35deeaa4e2d8656ea06d781  # ton projectKey SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  deploy:
    needs: sonar
    runs-on: ubuntu-latest
    if: ${{ success() }}
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
        run: echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin

      - name: Push Docker image
        run: |
          docker build -t $DOCKER_USER/ci-cd-flask:latest .
          docker push $DOCKER_USER/ci-cd-flask:latest
